<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Modifica Profilo' %>

<a href=<%= homepage_users_path %>>
  <div class="img_logo">
    <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
  </div>
</a>

<div class="dati_form">

  <h2>Aggiorna il tuo profilo</h2>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object  %>


        <%= f.label :name, 'Nome:'%>
        <%= f.text_field :name %>

        <%= f.label :email, 'E-mail:'%>
        <%= f.text_field :email %>

        <%= f.label :password, 'Password:' %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, 'Conferma password:' %>
        <%= f.password_field :password_confirmation %>       <br/><br/>

        <%= f.submit 'Salva', :type => :image, :src => "/assets/salva.png" %>
    <% end %>
</div>

