<% provide :title, 'Home page' %>
<%= render 'layouts/header' %>

<div id="tot_colonnasx_home">


    <div class="img_logo" xmlns="http://www.w3.org/1999/html">
      <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
    </div>

  <div class="background">
  <h2 class="sub_itinerari"> Partecipa ai nostri concorsi:</h2>
    <div id="colonnasx_home">

            <h2>A lume di CANdela</h2>
        <h3>E' la community a quattro zampe che ti premia!
        Se il tuo itinerario sarà il più votato del mese ti aggiudicherai una
        cena omaggio per due persone presso uno dei ristoranti convenzionati della tua città.
        Ospite d'eccezione: il tuo cane!</h3>
    </div>

      <div id="colonnasx_home2">

        <h2>Reporter a quattro zampe</h2>
        <h3>L'itinerario più bello e ricco del mese sarà pubblicato sulla
        prestigiosa rivista Traveller. Tu e il tuo fidato amico
        protagonisti di un inedito reportage! Iscriviti!   </h3>

    </div>
  </div>


</div>


<div id="tot_colonnadx_home">
  <div id="benvenuto">
    <h3>Ciao</h3>
    <h2> <%= current_user.name %>  </h2>
  </div>

    <div class="colonnadx_home">

      <link rel="stylesheet" href="src/m-carousel.css">
      <link rel="stylesheet" href="src/m-carousel-style.css">
      <script src="src/m-carousel.js"></script>


      <div class="m-carousel m-fluid" id="m-carousel">
      <div id="#m-carousel" class="m-carousel-controls m-carousel-pagination">
        <a href="#m-carousel" data-slide="1" class="m-active"><h1>Nuovi itinerari</h1></a>
        <a href="#m-carousel" data-slide="2"><h1>Itinerari di chi seguo</h1></a>
        <a href="#m-carousel" data-slide="3"><h1>Il podio dei più votati</h1></a>

      </div>

      <div class="m-carousel-inner">
          <div id="all" class="m-item active">

            <%= render 'itinerarios/itinerarioall'  %>
            <%= render 'layouts/footer1' %>


          </div>

          <div id="following" class="m-item">

            <%= render 'itinerarios/itinerariofollowing'  %>
            <%= render 'layouts/footer2' %>

          </div>

          <div id="voted" class="m-item">

            <%= render 'itinerarios/itinerariovoted'  %>
            <%= render 'layouts/footer3' %>

          </div>

      </div>
  </div>



</div>

    </div>

