<% provide :title, 'Risultati ricerca' %>
<!-- header è presente in tutte le pagine tranne che in quella di login (pages/home) -->
<%= render 'layouts/header' %>

<div id="tot_colonnasx_home">

  <a href=<%= homepage_users_path %>>
    <div class="img_logo">
      <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
    </div>
  </a>

  <!-- Canvas img-->
  <canvas id="canvas_img" width="500" height="600">Non supportato</canvas>

  <script type="text/javascript">
      var canvas = document.getElementById('canvas_img');
      var ctx = canvas.getContext('2d');

      var img= new Image();
      img.src = "/assets/maddie-ricerca.jpg";
      img.onload = function(){

          ctx.drawImage(img,0,0);
      }
  </script>
</div>

<div id="tot_colonnadx_home">

      <!-- Risultati ricerca per utente-->

      <h2> Risultati della ricerca per l'utente <%= params[:search] %>: </h2>
      <% @users = User.search(params[:search]).paginate(page: params[:page], :per_page => 10)  %>

      <% if @users.any? %>

          <ul class="users">
            <%= render @users %>
          </ul>
          <%= will_paginate @users %>
      <%else%>
      <br/>
      <h3>Nessun risultato corrisponde alla tua ricerca.</h3>
      <% end %>
    </div>
</div>





