<% provide(:title, @title) %>
<!-- header è presente in tutte le pagine tranne che in quella di login (pages/home) -->
<%= render 'layouts/header' %>

<a href=<%= homepage_users_path %>>
  <div class="img_logo">
    <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
  </div>
</a>

<div class="row">
  <aside class="span4">
    <section>
    </section>
    <section>
    </section>
  </aside>


  <div class="span8">
    <% if @users.any? %>
        <h3><%= @title %></h3>

        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
    <%else%>
        <h2>Oh no! La lista è vuota!</h2>

    <% end %>
  </div>
</div>