<% provide :title, 'Profilo' %>
<%= render 'layouts/header' %>



  <section>
    <a href=<%= homepage_users_path %>>
      <div class="img_logo">
        <%= image_tag("Viaggi del Guizaglio_Logo.png") %>
      </div>
    </a>

    <h1><%= @user.name %></h1>

    <%= gravatar_for current_user, size: 60 %>

    <h3> Iscritto da: <%= time_ago_in_words(@user.created_at) %> </h3>



    <br/>

    <h1> <%= render 'follow_form' if signed_in? %> </h1>

    <%= render 'shared/stats' %>

    <h3> Inserisci un nuovo itinerario:</h3>


        <div class="row">
          <div class="field span7">

            <%= form_for @itinerario do |f|%>
                <%= render 'shared/error_messages', object: f.object%>

                <%= f.label :nome_itinerario, 'Dai un nome al tuo itinerario!'%>
                <%= f.text_field :nome_itinerario %><br />

                <%= f.label :citta, 'Quale citta hai visitato?'%>
                <%= f.text_field :citta %><br />

                <%= f.label :num_giorni, 'Quanti giorni è durato il tuo soggiorno? '%>
                <%= f.text_field :num_giorni %><br />

                <%= f.label :voto, 'Vota!'%>
                <%= f.text_field :voto %><br />

                <%= f.submit 'Avanti!', class: "brn btn-large btn-primary" %>
            <% end %>
          </div>
        </div>

    <% if @user.itinerarios.any? %>
        <h3>Itinerari (<%= @user.itinerarios.count %>)</h3>
        <ol class="posts">
          <%= render @itinerarios %>
        </ol>
        <%= will_paginate @itinerarios %>
    <% end %>

    <% if (current_user.id!=User.find(params[:id]).id) %>

            <%= button_to "Torna al tuo profilo", current_user, class: "brn btn-large btn-primary" %>
        <% else %>
            <%= button_to "Modifica il tuo profilo", class: "brn btn-large btn-primary", :action => "edit" %>
    <% end %>


    <%= link_to "Logout", signout_path, method: :delete, class: "brn btn-large btn-primary" %>

  </section>


