<% provide(:title, @title) %>
<%= render 'layouts/header' %>

<a href=<%= homepage_users_path %>>
  <div class="img_logo">
    <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
  </div>
</a>

<div class="row">
  <aside class="span4">
    <section>
    </section>
    <section>
    </section>
  </aside>


  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
        <%= will_paginate %>

        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
    <% end %>
  </div>
</div>