<% provide :title, 'Hotel' %>


<div class="img_logo">
  <%= image_tag("Viaggi del Guizaglio_Logo.png") %>
</div>

<section>

  <h1><%= @user.name %></h1>

  <%= gravatar_for current_user, size: 60 %>

  <h3> Iscritto da: <%= time_ago_in_words(@user.created_at) %> </h3>

  <span><%= link_to 'Home page', homepage_users_path %></span>
  <br/>

  <h1> <%= render 'follow_form' if signed_in? %> </h1>

  <%= render 'shared/stats' %>

  <%= render 'itinerarios/hotel_form' %>


  <% if (current_user.id!=User.find(params[:id]).id) %>

      <%= button_to "Torna al tuo profilo", current_user, class: "brn btn-large btn-primary" %>
  <% else %>
      <%= button_to "Modifica il tuo profilo", class: "brn btn-large btn-primary", :action => "edit" %>
  <% end %>


  <%= link_to "Logout", signout_path, method: :delete, class: "brn btn-large btn-primary" %>

</section>


