<!-- Vista parziale in pages/home -->

<div class="login_form">
  <h2>login</h2>
  <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>
        <br/>
        <br/>
        <%= f.submit 'Ok', :type => :image, :src => "/assets/Ok.png" %>
    <% end %>
</div>