<% provide :title, 'Nuovo Ristorante' %>
<!-- header è presente in tutte le pagine tranne che in quella di login (pages/home) -->
<%= render 'layouts/header' %>


<% @itinerario_id = @itinerario.id %>

<div id="tot_colonnasx_home">

  <a href=<%= homepage_users_path %>>
    <div class="img_logo">
      <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
    </div>
  </a>

    <!-- Form per creazione nuovo ristorante -->
    <div class="dati_form">

      <h2>Piatti e ciotole:</h2>

    <%= form_for(@ristorante) do |f|%>
        <%= render 'shared/error_messages', object: f.object%>

        <%= f.label :nome_ristorante, 'In quale ristorante avete mangiato?'%>
        <%= f.text_field :nome_ristorante %><br />

        <%= f.label :indirizzo_ristorante, 'Dove si trova?'%>
        <%= f.text_field :indirizzo_ristorante %><br />

        <%= f.label :spesa_ristorante, 'Quanto costa?'%>
        <%= f.text_field :spesa_ristorante %><br />

        <%= f.label :commenti_ristorante, 'Aggiungi i tuoi commenti: '%>
        <%= f.text_area :commenti_ristorante %><br />

        <%= f.hidden_field :itinerario_id, value: @itinerario_id %>

        <%= f.submit 'Avanti!', :action => "create", :type => :image, :src => "/assets/avanti.png" %>
    <% end %>
    </div>
</div>

<div id="tot_colonnadx_home">
  <!-- Canvas -->
  <div class="canvasbottoni">

    <canvas id="canvas_img" width="450" height="450">Non supportato</canvas>
    <div class="numeri">
      <h3>Clicca sui bottoni!</h3>
      <img src="/assets/icona_uno.png" width="90" id="uno_icona" class="numeri_bottoni" onclick="HotelImg()"/>
      <img src="/assets/icona_due.png" width="90" id="due_icona" class="numeri_bottoni" onclick="RistoranteImg()"/>
      <img src="/assets/icona_tre.png" width="90" id="tre_icona" class="numeri_bottoni" onclick="LuogoImg()"/>
    </div>
  </div>


<script type="text/javascript">
    var canvas = document.getElementById('canvas_img');
    var ctx = canvas.getContext('2d');
    var img= new Image();
    img.src = "/assets/Maddie-frigo.jpg";
    img.onload = function(){
        ctx.drawImage(img,0,0);
    }
    function HotelImg(){
        var img= new Image();
        img.src = "/assets/Maddie-letto.jpg";
        ctx.drawImage(img,0,0);
    }
    function RistoranteImg(){
        var img= new Image();
        img.src = "/assets/Maddie-frigo.jpg";
        ctx.drawImage(img,0,0);
    }
    function LuogoImg(){
        var img= new Image();
        img.src = "/assets/Maddie-statua.jpeg";
        ctx.drawImage(img,0,0);
    }
</script>
</div>



