<% provide :title, 'Modifica Hotel' %>

<%= render 'layouts/header' %>

<a href=<%= homepage_users_path %>>
  <div class="img_logo">
    <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
  </div>
</a>

<div class="dati_form">
  <h2>Modifica le informazioni sull'hotel <%= @hotel.nome_hotel %></h2>

  <%= form_for(@hotel) do |f|%>
      <%= render 'shared/error_messages', object: f.object%>

      <%= f.label :nome_hotel, 'In quale hotel avete soggiornato?'%>
      <%= f.text_field :nome_hotel %><br />

      <%= f.label :indirizzo_hotel, 'Dove si trova?'%>
      <%= f.text_field :indirizzo_hotel %><br />

      <%= f.label :spesa_hotel, 'Quanto costa a notte?'%>
      <%= f.text_field :spesa_hotel %><br />

      <%= f.label :commenti_hotel, 'Aggiungi qui i tuoi commenti: '%>
      <%= f.text_area :commenti_hotel %><br />

      <%= f.hidden_field :itinerario_id, value: @hotel.itinerario_id %>

      <%= f.submit 'Salva', class: "brn btn-large btn-primary" %>
  <% end %>

</div>
