<% provide :title, 'Dettagli Hotel' %>

<!-- header è presente in tutte le pagine tranne che in quella di login (pages/home) -->
<%= render 'layouts/header' %>



<div id="tot_colonnasx_home">

  <a href=<%= homepage_users_path %>>
      <div class="img_logo">
        <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
      </div>
  </a>

  <!-- Riepilogo delle informazioni sulla struttura selezionata -->
  <div class="info_struttura">
    <h2><%= @hotel.nome_hotel %>  </h2>
    </br>
    <h3>
        Indirizzo: <%= @hotel.indirizzo_hotel %>
        <br/>
        <br/>
        Costo/notte: <%= @hotel.spesa_hotel %>
        <br/>
        <br/>
        <% if @hotel.commenti_hotel.empty?%>
        <%else%>
          Commenti degli utenti: <%= @hotel.commenti_hotel %>
        <%end%>
    </h3>
  </div>
</div>

<!-- Foto -->
<div id="tot_colonnadx_home">
  <img src="/assets/hotel.JPG" width="600"/>

</div>