<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="header">
      <nav>
        <ul class="nav pull-right">
          <% #link_to is the Rails helper to create links (it generates <a...> tags) %>
          <li><%=link_to "Home",    homepage_users_path %></li>
          <li><%=link_to "Chi siamo",    about_path %></li>
          <li><%=link_to "Contattaci",    contact_path %></li>
          <li><%=link_to "Faq",  faq_path %></li>
          <% if signed_in? %>
              <li><%= link_to "Esci", signout_path, method: "delete" %></li>
          <% else %>
              <li><%=link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>