<!-- navbar in ogni pagina tranne che nella pagina login (pages/home) -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="header">
      <nav>
        <ul class="nav pull-left">
          <li id="iconcina_search"><i class="icon-search icon-white"></i></li>
          <li id="cerca"><%= render 'itinerarios/search_form' %></li>
          </ul>

        <ul class="nav pull-right">
          <% #link_to is the Rails helper to create links (it generates <a...> tags) %>
          <li class="iconcina"><i class="icon-home icon-white"></i></li>
          <li><%=link_to "Home",    homepage_users_path %></li>
          <li class="iconcina"><i class="icon-user icon-white"></i></li>
          <li><%= link_to "Profilo", current_user %></li>
          <li class="iconcina"><i class="icon-globe icon-white"></i></li>
          <li><%=link_to "Chi siamo",    about_path %></li>
          <li class="iconcina"><i class="icon-envelope icon-white"></i></li>
          <li><%=link_to "Contattaci",    contact_path %></li>
          <li class="iconcina"><i class="icon-comment icon-white"></i></li>
          <li><%=link_to "Faq",  faq_path %></li>
          <% if signed_in? %>
              <li class="iconcina"><i class="icon-off icon-white"></i></li>
              <li><%= link_to "Esci", signout_path, method: "delete" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>